div {
  outline: 1px solid red;
}
.topBar {
  display: flex;
}
.mainMenu {
  flex-grow: 1;
}
.sideBar-workSpace-wrapper {
  display: flex;
}
.workSpace {
  flex-grow: 1;
}
.sideBar {
  min-width: 320px;
}
